[submodule "maps/EntryMap/script/y3"]
	path = maps/EntryMap/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
[submodule "maps/PVE_01/script/y3"]
	path = maps/PVE_01/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
[submodule "maps/PVP_03/script/y3"]
	path = maps/PVP_03/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
[submodule "maps/PVP_04/script/y3"]
	path = maps/PVP_04/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
[submodule "maps/PVP_05/script/y3"]
	path = maps/PVP_05/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
[submodule "maps/PVP_06/script/y3"]
	path = maps/PVP_06/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
[submodule "maps/PVP_07/script/y3"]
	path = maps/PVP_07/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
[submodule "maps/PVP地图1/script/y3"]
	path = maps/PVP地图1/script/y3
	url = https://github.com/CliCli-Editor/lualib.git
