<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134246367.png</key>
		<dict>
			<key>frame</key>
			<string>{{-1,2},{140,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,140}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>134272617.png</key>
		<dict>
			<key>frame</key>
			<string>{{-1,144},{105,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,105}}</string>
			<key>sourceSize</key>
			<string>{105,105}</string>
		</dict>
		<key>kongbai.png</key>
		<dict>
			<key>frame</key>
			<string>{{-1,251},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap1.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>textureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap1.png</string>
	</dict>
</dict>
</plist>
