<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>100408.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,405},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>134220848.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,476},{295,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,10}}</string>
			<key>sourceSize</key>
			<string>{295,10}</string>
		</dict>
		<key>134236776.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,4},{1,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,6}}</string>
			<key>sourceSize</key>
			<string>{1,6}</string>
		</dict>
		<key>134239479.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,204},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>134239660.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,476},{132,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,10}}</string>
			<key>sourceSize</key>
			<string>{132,10}</string>
		</dict>
		<key>134246340.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,408},{300,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,30}}</string>
			<key>sourceSize</key>
			<string>{300,30}</string>
		</dict>
		<key>134257182.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,358},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>134268576.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{400,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,227}}</string>
			<key>sourceSize</key>
			<string>{400,227}</string>
		</dict>
		<key>134276385.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,204},{161,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,108}}</string>
			<key>sourceSize</key>
			<string>{161,108}</string>
		</dict>
		<key>134281818.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,442},{300,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,30}}</string>
			<key>sourceSize</key>
			<string>{300,30}</string>
		</dict>
		<key>RL_Blood-bar_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,16},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>RL_Blood-bar_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,358},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>RL_Blood-bar_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,369},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>RL_Blood-bar_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,381},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>RL_Blood-bar_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,393},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>RL_Blood-bar_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,358},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>Tem_act_bossdiaoxue.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,358},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Tem_act_yingxiongHP.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,490},{240,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,16}}</string>
			<key>sourceSize</key>
			<string>{240,16}</string>
		</dict>
		<key>Tem_act_yingxiongMP.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,490},{240,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,16}}</string>
			<key>sourceSize</key>
			<string>{240,16}</string>
		</dict>
		<key>UI_MiddleAge_img_dxxt_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,478},{24,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,8}}</string>
			<key>sourceSize</key>
			<string>{24,8}</string>
		</dict>
		<key>dm22_bar1-1-heise.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,4},{268,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,8}}</string>
			<key>sourceSize</key>
			<string>{268,8}</string>
		</dict>
		<key>map_zhezhao_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,16},{184,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,184}}</string>
			<key>sourceSize</key>
			<string>{184,184}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap(steam_lobby)0.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap(steam_lobby)0.png</string>
	</dict>
</dict>
</plist>
